<% content_for :head do %>
  <title>have ranking - monolist</title>
  <meta name="description" content="多くの人が持ってるモノをランキング表示しています。">
<% end %>


<h1>haveランキング</h1>

<% @rankers.each.with_index(1)  do |(item_id, num), i | %>

  rank:<%= i %>
  item_id:<%= item_id %>
  num:<%= num %>

<% end %>